.box {
    margin: 3px;
    border: 10px solid white;
    border-radius: 20px;
    font-size: 79px;
    text-align: center;
}

.father {
    width: 80%;
    height: 800px;
    margin-top: 10%;
}

.father {
    display: flex;
    flex-direction: column;
}

.main-BC {
    display: flex;
    height: 65%;
}

.BCDE-father {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}


.block-A {
    background: pink;
    height: 30%;
}

.block-B {
    background: #fc8201;
    width: 70%;
}

.block-B2 {
    background: #fc8201;;
    width: 97%;
    height: 50%;
}

.FDE-father {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.SHV-father {
    display: flex;
    flex-direction: row-reverse;
    height: 50%;
}

.block-C {
    width: 30%;
    background: gold;
}

.block-F {
    background: lightblue;
}

.block-D {
    background: #ffcfd6;
}

.block-E {
    background: #09c4f1;
}

.block-S {
    width: 33%;
    background: purple;
}

.block-H {
    background: #a00a2e;
    width: 33%;
}

.block-V {
    width: 33%;
    background: orange;
}

.FDE {
    width: 32%;
    height: auto;
}